body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6ff;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0d47a1;
  padding: 15px;
  color: white;
}

header input {
  width: 30%;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

#btn-agregar {
  padding: 10px 20px;
  background: #ffeb3b;
  border: none;
  color: #0d47a1;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

/* FORMULARIO */
#formulario-section {
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px #0002;
  margin: 20px;
  border-radius: 15px;
}

.oculto {
  display: none;
}

form input, form textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  border: 1px solid #bbb;
}

.btn-guardar {
  background: #0d47a1;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

/* GRID PRODUCTOS */
.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* CARD PRODUCTO */
.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px #0002;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.btn-carrito {
  margin-top: 10px;
  background: #ffeb3b;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

/* CARRITO */
#carrito {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #0002;
}
